.bash*
.contactemail
.cpanel/*
.gemrc
.lastlogin
.rnd
.ftpquota
.softaculous/*
.sqmaildata/*
dAdmin
etc/*
ftpsync.settings
logs/*
mail/*
public_ftp/*
*.sublime-*
ssl/*
tmp/*
config.php
dbClass.php
adminD