<div>
	<script language="javascript" src="/portal/js/sdlogin.js"></script>
	<div id="divLogin" class="boxShadow" style="float: left; width: 250px; padding: 10px;">
		<form id="frmLogin" name="frmLogin" action="" method="post">
			<table border="0" cellpadding="3" cellspacing="0" style="width: 100%;">
				<tbody>
					<tr>
						<td><label for="uName">User Name:</label></td>
						<td><input type="text" id="uName" name="uName" value="" style="width: 99%;"/></td>
					</tr>
					<tr>
						<td><label for="pWord">Password:</label></td>
						<td><input type="password"id="pWord" name="pWord" value="" style="width: 99%;"/></td>
					</tr>
					<tr>
						<td colspan="2" style="text-align: center;">
							<button type="submit">Login</button>
						</td>
					</tr>
				</tbody>
			</table>
		</form>
	</div>
	<div id="divIntro" style="float: right; width: 425px; padding: 10px;">
		<h4>Welcome to Sleep Diagnostics Patient Portal</h4>
		<p>
			You can login if an account has been created for you. If you are a new customer or seek to find out additional information about becoming a customer, please contact 
			Sleep Diagnostic directly. If you are an existing customer, please fill out the form to request your account be created.
		</p>
	</div>
	<div id="divIntro2" style="clear: both;">
		<p>
			If you would like more information on becoming a customer, you will find information about our services and personnel on our main web pages. Click here to be taken there 
			where you can contact someone by filling out our contact form to ask any additional questions you were not able to answer by browsing our website.
		</p>
		<p>
			The Patient Portal is the best place to order your replacement parts and supplies. While logged in you will be able to view your equipment supplied by Sleep Diagnostics and 
			be sure you are ording the right parts. Our portal allows you to update your contact information, send us information pertaining to your treatment adnd fill out forms and even 
			request an appointment.
		</p>
	</div>
</div>